*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 2rem;
}

header {    /*Header*/
    width: 100%;
    height: 75px;
    background-color: #0084fd;
    color: white;
    justify-content: space-between;
    align-items: center;
}

h2,
h3,
p,
button {
    margin-bottom: 1rem;
}

#demo-app div.card {    /*Main*/ /*First section #demo-app*/
    background-color: #b5ddff;
    margin: 0.5rem 0rem;
    border-radius: 20px;
    text-align: center;
    color: #0084fd;
    padding: 2rem;
}

#demo-app div.card2 figure>img {
    width: 100%;
}

#demo-app div.card>p {
    color: #5a6e7f;
}

#demo-app button {
    padding: 0.5rem 3rem;
    background-color: #0084fd;
    color: white;
    border-radius: 40px;
    border: 0px;
}

#demo-app i.fa-solid {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#strat { /*Second section #strat*/
    background-color: #9792e4;
    color: white;
}

#strat figure>img {
    width: 100%;
}

#strat>h2 {
    margin: 3rem 0;
}

#strat article {
    padding: 2rem;
    background-color: white;
    color: black;
    border-radius: 40px;
    text-align: center;
}

#strat button {
    padding: 1rem 1.2rem;
    background-color: #9792e4;
    border-radius: 50%;
    border: 0px;
}

#testimonials {  /*Third section #testimonials*/
    align-items: center;
    text-align: center;
}

#testimonials h2 {
    color: #9792e4;
}

#testimonials div.employer {
    background-color: #9792e4;
    color: white;
    width: 100%;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
}

#testimonials div.employer figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#testimonials div.employer figure>img {
    width: 100%;
}

#testimonials p.employer-name {
    text-transform: uppercase;
} 

#benefits {  /*Fourth section #benefits*/
    background-color: #9792e4;
    align-items: center;
}

#benefits h2 {
    color: white;
    text-align: center;
}

#benefits div.mini-card {
    background-color: white;
    color: #9792e4;
    padding: 2rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 20px;
}

#benefits div.mini-card>p.number{
    font-size: 2.5rem;
    font-weight: bold;
}

#benefits div.mini-card button {
    padding: 0.5rem 3rem;
    background-color: #9792e4;
    color: white;
    border-radius: 40px;
    border: 0px;
    font-weight: bold;
}


#about {     /*Fifth section #about*/
    line-height: 35px;
}

#about h2 {
    color: #9792e4;
}

#about figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0;
}

#about figure>img {
    width: 100%;
}

#about button {
    padding: .5rem 1rem;
    background-color: #9792e4;
    color: white;
    border-radius: 40px;
    border: 0px;
}

#get-started {  /*Sixth section #get-started*/
    background-color: #9792e4;
    color: white;
    align-items: center;
    text-align: center;
}

#get-started h4 {
    font-size: 4rem;
    color: #fdc15f;
    margin-bottom: 1rem;
}

#get-started button {
    padding: 1rem 4rem;
    background-color: white;
    color: #9792e4;
    border-radius: 40px;
    border: 0px;
    font-weight: bold;
}

footer { /*Footer*/
    background-color: #333333;
    color: white;
    text-align: center;
}

.underlined-purple {
    color: #9792e4;
    text-decoration: underline;
}

@media screen and (min-width: 768px) { /*Responsive Tablet*/
    #demo-app {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #demo-app div.card {
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }

    #demo-app div.card2{
        width: calc(100% / 3 * 1.85);
    }    

    #testimonials div.employer{
        flex-direction: row;
    }
    
    #testimonials div.employer figure {
        width: 30%;
    }

    #testimonials div.employer>div {
        width: 70%;
    }

    #benefits .container-mini-card {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #benefits div.mini-card{
        width: calc(100% / 2 - 2rem);
        margin: 1rem;
    }

    #about {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) { /*Responsive Desktop*/
    header.padding,
    section.padding {
        padding: 0 20rem;
    }
    
    #demo-app figure {
        width: 50%;
    }

    #strat {
        flex-direction: row;
        align-items: flex-end;
    }

    #strat div.container-strat figure {
        width: 70%;
    }

    #strat article {
        height: 60%;
    }
}