*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

.margin {
    margin: 1rem 0.5rem;
}

header {    /*Header*/
    width: 100%;
    height: 75px;
    background-color: #0084fd;
    color: white;
    justify-content: space-between;
    align-items: center;
}

section {
    flex-wrap: wrap;
    margin: 1rem 0.5rem;
}

section div.card {
    width: calc(100% / 3 - 0.5rem);
    height: 300px;
    background-color: #b5ddff;
    margin: 0.25rem;
}