*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 2rem;
}

header {    /*Header*/
    width: 100%;
    height: 75px;
    background-color: #0084fd;
    color: white;
    justify-content: space-between;
    align-items: center;
}

#demo-app div.card {    /*Main*/ /*First section #demo-app*/
    height: 300px;
    background-color: #b5ddff;
    margin: 0.5rem 0rem;
    border-radius: 20px;
    text-align: center;
    color: #0084fd;
    padding: 2rem;
}

#demo-app div.card>p {
    color: #5a6e7f;
}

#strat { /*Second section #strat*/
    background-color: #9792e4;
}

#strat figure>img {
    width: 100%;
}

#strat article {
    padding: 2rem;
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

#testimonials {  /*Third section #testimonials*/
    align-items: center;
    text-align: center;
}

#testimonials div.employer {
    background-color: #9792e4;
    color: white;
    width: 100%;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
}

#testimonials div.employer figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#testimonials div.employer figure>img {
    width: 100%;
}

#benefits {  /*Fourth section #benefits*/
    background-color: #9792e4;
    align-items: center;
}

#benefits div.mini-card {
    background-color: white;
    color: #9792e4;
    padding: 2rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 20px;
}

#about { /*Fifth section #about*/
    border: 1px solid black;
}

#about>p {
    border: 1px solid black;
}

#about figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#about figure>img {
    width: 100%;
}

#about div>h3 {
    color: #9792e4;
}


#get-started {  /*Sixth section #get-started*/
    background-color: #9792e4;
    align-items: center;
}

footer { /*Footer*/
    background-color: #333333;
    color: white;
}

@media screen and (min-width: 480px) { /*Responsive Tablet*/
    #demo-app {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #demo-app div.card {
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }

    #demo-app div.card2 {
        width: calc(100% / 3 * 1.85);
    }    

    #benefits {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #benefits div.mini-card{
        width: calc(100% / 2 - 2rem);
        margin: 1rem;
    }
}

@media screen and (min-width: 768px) { /*Responsive Desktop*/
    header.padding,
    section.padding {
        padding: 0 10rem;
    }
    
}